<h4>Africa</h4>
<div>
    <strong>
        {{ africa_value }}
    </strong>
</div>
<h4>Europe</h4>
<div>
    <strong>
        {{ europe_value }}
    </strong>
</div>
<h4>Asia</h4>
<div>
    <strong>
        {{ asia_value }}
    </strong>
</div>
<h4>North America</h4>
<div>
    <strong>
        {{ north_america_value }}
    </strong>
</div>
<h4>South America</h4>
<div>
    <strong>
        {{ south_america_value }}
    </strong>
</div>
<h4>Pacific</h4>
<div>
    <strong>
        {{ pacific_value }}
    </strong>
</div>
