<footer>
    <div class="container">
        <table class="flex">
            <tbody>
                <tr>
                    <td class="w-50 middle">
                        <p>
                            <strong class="text-uppercase text-white">
                                Global Wine <strong class="text-maroon">Medals</strong> & Competitions Report
                            </strong>
                        </p>
                    </td>
                    <td class="w-50 middle text-right">
                        <p class="text-white">
                            {{ year_from }} - {{ year_to }}
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</footer>