{% load static %}

<header>
    <div class="container">
        <table>
            <tbody>
                <tr>
                    <td class="w-50 middle">
                        <strong>
                            {{ report_title }}
                        </strong>
                    </td>
                    <td class="w-50 middle">
                        <img class="report-logo" src="{% static "generator/images/logo.png" %}" alt="GWMR.gustos.life" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</header>