<div>
    <b>Attention, all data in percents</b>
    <br>
    {% for category in page_info %}
    <div>
        <h2>{{ category.title }}</h2>
        {% for diagram in category.diagrams %}
        <div>
            {% if diagram.image %}
            <img src="{{ diagram.image }}">
            {% else %}
            <b>No data</b>
            {% endif %}
            <b>{{ diagram.title }}</b>
            <a href="{{ diagram.link }}" target="_blank">GWMR.wine</a>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>